.container-list {
  width: 100%;
  min-width: 600px;
}

.table-body {
  max-height: 600px;
  overflow-y: scroll;
}

.header-list {
  display: flex;
  justify-content: left;
  border-bottom: 2px solid rgb(230, 230, 230);
}

.btn-add-recipe {
  height: 75%;
  margin-left: auto;
}

.recipe-btn {
  background-color: transparent;
  border: none;
  color: black;
  text-align: justify;
}

.recipe-btn:hover {
  background-color: blue;
  border: none;
  color: white;
  text-align: justify;
}
