.container-details {
  width: 100%;
  min-width: 600px;
}

.header-details {
  text-align: left;
}

.details-box {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  background-color: honeydew;
}

.id-name {
  display: flex;
  justify-content: left;
}

.recipe-id {
  width: 30px;
}
