<div class="container-new">
  <div class="header-new">
    <h3>New Recipe</h3>
  </div>

  <div class="new-recipe-box">
    <div class="input-group mb-2">
      <span class="input-group-text" id="basic-addon1">Name</span>
      <input type="text" class="form-control" placeholder="Recipe name" />
    </div>

    <div class="input-group mb-2">
      <span class="input-group-text" id="basic-addon1">Source</span>
      <input type="text" class="form-control" placeholder="Recipe Source" />
    </div>

    <div class="input-group mb-2">
      <span class="input-group-text" id="basic-addon1">Ingredients</span>
      <textarea type="text" class="form-control" cols="25" rows="5"> </textarea>
    </div>

    <div class="input-group mb-2">
      <span class="input-group-text" id="basic-addon1">Instructions</span>
      <textarea type="text" class="form-control" cols="25" rows="5"> </textarea>
    </div>

    <div class="input-group mb-2">
      <span class="input-group-text" id="basic-addon1">Tags</span>
      <textarea type="text" class="form-control" cols="25" rows="3"> </textarea>
    </div>
    <button class="btn btn-primary btn-save-recipe">Save</button>
  </div>
</div>
